[2015-12-02 00:09] fabiocav opened #3 "Target client SDK 2.0.0 RTM"

[2015-12-03 23:33] fabiocav opened #4 "Update server SDK/package to target RTM (1.0.119)"

[2015-12-07 23:29] #4 closed

[2015-12-07 23:29] #3 closed

[2015-12-09 21:43] fabiocav opened #6 "Delete fails if using extensions in the file name"
If an extension is used in the MobileServiceFile name/id (e.g. .jpg, .png, etc.) the DELETE request is not correctly routed and the file is not deleted.

[2015-12-10 17:40] #6 closed

[2015-12-18 14:33] PaulARoy opened #8 "Json parse exception on dates"
Hi,

First of all, thanks for your library! It's really promising for a pre-release.

I have a Json parse exception during the call of `PullFilesAsync(myElement)`. The exact exception is
`Could not convert string to DateTimeOffset: 18/12/2015 10:41:31 +00:00. Path '[0].lastModified'. - Dictionary`

The date is french-formatted (dd/mm/yyyy), I think it's just a culture problem but I have trouble fi

[2015-12-18 15:37] PaulAchess opened #9 "WP 8.1 support"
Is there any WP support planned?

I can't find the `DowloadFileAsync()` method to implement the IFileSyncHandler, as we have no .Ext.dll library for WP.

The workaround is to copy the code of `DowloadFileAsync()` on WP:

[code]
on https://github.com/Azure/azure-mobile-apps-net-files/blob/master/src/Xamarin.Shared/MobileServiceSyncTableExtensions.cs#L22

Same thing for https://github.com/Azure/azur

[2015-12-18 18:07] fabiocav commented on #8
Thank you for your feedback!

I'll investigate this issue and let you know what I find (or if I need more information).

[2015-12-18 18:16] fabiocav commented on #9
Paul,

Yes! As you found, there is a simple workaround, but for the managed SDK, the goal is to have parity across all the platforms supported by the core Mobile Apps Client SDK.

[2015-12-18 18:20] PaulAchess commented on #9
Thanks for your answer!

I think the Xamarin.Shared project can be compiled against WP, the support could be easily integrated.

[2015-12-18 18:32] fabiocav commented on #9
Indeed, much of that code can (and will be) reused. We were focused on the core implementation and Xamarin Android/iOS due to some internal and external demands, but we should be expanding to the other platforms VERY soon.

[2016-01-05 21:07] fabiocav opened #15 "Enhance XML documentation"

[2016-01-05 21:55] fabiocav opened #16 "Properly handle operation queueing actions"
Properly handle operation queueing actions to cancel existing (or newly added) operations as appropriate.

[2016-01-05 21:57] fabiocav opened #17 "Create missing Operations tests"

[2016-01-05 22:04] fabiocav opened #18 "Build offline file management sample"

[2016-01-07 07:40] fabiocav opened #20 "Create storage provider tests"

[2016-01-08 04:50] #9 closed

[2016-01-12 23:53] fabiocav opened #22 "Move identity types to Files.Identity namespace"

[2016-01-12 23:55] fabiocav opened #23 "Move Operation types to Files.Operations namespace"

[2016-01-13 00:11] fabiocav opened #24 "Move IFileSyncContext to Files.Sync namespace"

[2016-01-13 00:16] #24 closed

[2016-01-13 00:16] #23 closed

[2016-01-13 00:16] #22 closed

[2016-01-13 18:46] fabiocav commented on #8
@PaulAchess could you verify this problem with the packages that were released yesterday (1.0.0-beta2) and, if you continue to see the problem, provide the raw response you're seeing from the server?

[2016-01-13 18:57] fabiocav opened #25 "Enhance XML documentation for sync types"

[2016-01-13 18:58] fabiocav opened #26 "Enhance XML documentation for eventing and identity types"

[2016-01-13 18:59] fabiocav opened #27 "Enhance XML documentation for metadata types"

[2016-01-13 19:00] fabiocav opened #28 "Enhance XML documentation for operation types"

[2016-01-13 20:46] fabiocav opened #29 "Resume interrupted sync uploads"
Sync operations performing file uploads should be to resume previously interrupted uploads.

[2016-01-13 20:50] fabiocav opened #30 "Storage tokens should be cached"
To avoid unnecessary requests, storage tokens should be cached and properly resolved based on their scope and permissions.

[2016-01-14 11:06] PaulARoy commented on #8
I will try this today if I can find the time (by the end of the week tops).

[2016-01-14 17:18] PaulARoy commented on #8
This issue unfortunately still happens (I updated both server and client).

What do you mean exactly by the raw response from the server? Do you have any step to do this?

[2016-01-14 17:54] phvannor commented on #8
@fabiocav is metadata owned entirely by us?  Why do we not store times only in UTC like we do everywhere else?

[2016-01-14 18:00] fabiocav commented on #8
@phvannor that's what should be happening. What triggers that is not metadata that is actually stored by us, but what is built from the underlying store. We just need to make sure it is properly converted/formatted.

@PaulARoy I was hoping this had been addressed by another change that was not directly related to the issue but dealt with date handling. I'll take a closer look at this and post an u

[2016-01-14 18:06] phvannor commented on #8
Can I ask why last modified in definetable is a string? https://github.com/Azure/azure-mobile-apps-net-files-client/blob/master/src/Microsoft.WindowsAzure.Mobile.Files/Metadata/FileMetadataStore.cs#L44

[2016-01-14 18:28] fabiocav commented on #8
Yeah, that was an oversight and needs to be changed. And to clarify my previous answer, on the client, the file metadata is owned by us and should be stored in UTC. I've taken a closer look an found a couple of spots where dates were being mishandled, so I'll fix those and the table definition as I work on this issue.

[2016-01-14 18:44] PaulARoy commented on #8
Okay your discussions had me thinking: I still have a test to run before you try to find the issue.

If the file is persisted I will need to do a test by erasing all data and the application which I did not do previously. If dates were stored incorrectly before I fear my test used the old data (thus recreating the problem).

I am a bit short for tonight (it is 8pm in France) but I will keep you in

[2016-01-14 18:49] fabiocav commented on #8
@PaulARoy some of the changes mentioned above should be made regardless, so I'll move forward with those.
It would be great to get your feedback after you run through those tests, but based on what I'm seeing, I believe you'll continue to experience the problem.

[2016-01-15 10:13] PaulARoy commented on #8
Unfortunately I am still experiencing the issue after removing everything (client data, app, any existing blob).

[2016-01-30 21:34] renzska opened #31 "GetDataItemId fails if Id is implemented in a base class"
When calling

`
MobileServiceFile file = syncTable.AddFileAsync(item, "filename.jpg");
`
an exception is thrown saying the Id is null.

I tracked this down to the GetDataItemId method. I assume it's not able to get the property because it is implemented in a base class, in my case.

I am resorting to creating the MobileServiceFile manually first:
`
MobileServiceFile = new MobileServiceFile(name, s

[2016-01-31 16:22] renzska commented on #31
This affects both the adding of a file as mentioned above and the actual retrieval of the files with GetFilesAsync().

The code here uses GetDataItemId:

https://github.com/Azure/azure-mobile-apps-net-files-client/blob/9b4a2b5a3517446d08107584f0edd06aba913b80/src/Microsoft.WindowsAzure.Mobile.Files/Sync/MobileServiceSyncTableExtensions.cs

`
public async Task<IEnumerable<MobileServiceFile>> GetFil

[2016-01-31 19:03] fabiocav commented on #31
Thanks for reporting this! I'll take a look at this issue and post an update.

[2016-01-31 20:26] renzska opened #32 "Using the same filename for different objects breaks sync when using the name/id method unless a different id is specified manually."
Is it possible to have a unique id generated for each file upon upload?

With this method:
[code]

the id is set to the name. If you have two different objects that both use the same filename, your sync db __filesmetadata only shows one entry and is overwritten with only one record from the last file added.

[2016-02-01 18:08] fabiocav commented on #32
@renzska there have been a few discussions on this (there are some side effects) but the short answer is yes, in future updates, the file ID will be composed in a way that will prevent collisions.

[2016-02-01 22:53] renzska opened #33 "Add Callback Event to DownloadFileAsync for validation purposes."
I'm randomly getting Zero Byte files when calling

[code]

This causes my app to crash when trying to load the file (an image) using Xamarin.Forms iOS.

Would it be possible to add a callback event for DownloadFileAsync so we could check the results of each file download and do extra processing as necessary?

I've had zero byte files happen in many different scenarios. My latest test was downloadi

[2016-02-02 07:01] fabiocav commented on #33
I'm adding a "Feature Request" label but will spend some time investigating what is causing this issue.

[2016-02-02 16:39] renzska commented on #33
For reference, I'm binding the path of the image (a property on my object) to an Image control in Xamarin.Forms XAML.

I check if the files exists, and if it does, I delete it and then call the downloadfileasync method, otherwise I just call the downloadfileasync method.

[2016-02-02 16:40] renzska commented on #32
For now, I'm just using the Id of the object plus a file ending for the file I'm storing plus the extension:

var name = user.Id + "-photo.jpg";

[2016-02-02 16:44] renzska opened #34 "Multiple Sync Tables where only one sync table uses File Sync on Server side causes extra requests and 404's on PullAsync"
I have a few sync tables I am querying against for data. Only one of those tables implements the File Sync on the server side, however, when I call PullAsync on the other sync tables, it tries to access the /MobileServiceFiles/ url on the tables that don't implement it and in this case, don't need it because it causes extra calls to the DB.

It throws the following response/error and seems to stop

[2016-02-02 17:12] renzska commented on #33
Not sure if this helps, but I've seen debugging calls to request the Storage Token when the zero byte files are created and not at other times when the files download successfully (I'm not 100% sure on the scenarios here). I'll post the logs the next time this happens to see if I can pinpoint it better.

[2016-02-02 17:15] renzska commented on #34
I just validated that by adding storage controllers for each of the tables on the service side, my app no longer gets the error or crashes. However, it does add a ton of extra requests that I'd prefer to avoid, especially given the dollar cost associated.

[2016-02-02 17:17] renzska commented on #33
@fabiocav Thanks for all of your work on this library! It's tremendously helpful and makes the whole storage issue really easy to work with. Thanks, again.

-John

[2016-02-02 18:45] fabiocav commented on #34
There is a way to change this behavior by using a custom sync trigger and filtering out any tables you don't want to sync files for.
The EntityDataFileSyncTrigger (https://github.com/Azure/azure-mobile-apps-net-files-client/blob/master/src/Microsoft.WindowsAzure.Mobile.Files/Sync/Triggers/EntityDataFileSyncTrigger.cs) is fairly simple at this point and could (should) be made smarter to avoid what

[2016-02-03 00:06] renzska commented on #34
The Custom FileSyncTrigger and Factory worked great. I'll keep an eye out for if/when the associated files change and re-evaluate my custom code.

Thanks!

[2016-02-03 17:44] renzska commented on #33
I've been able to effectively resolve this issue by adding a FileInUse check to the files that are being downloaded.

I tied it to the fact that the Sync initiates async and as soon as I get the data I set the Photo property (pointing to the path of the downloaded/downloading file) and the binding tries to grab the file and load it. Depending, this occurs while the file is still downloading or is

[2016-02-03 23:14] renzska commented on #33
After more usage today, I'm no longer getting partially downloaded files (not initially reported, but started experiencing this yesterday), but I am still getting some zero byte files randomly. It seems to be related to when I saw RawToken requests being logged. I'll post more if I notice anything more specific.

[2016-02-04 18:20] renzska opened #35 "Allow Image Loading Via Xamarin Forms ImageSource"
From here: https://developer.xamarin.com/guides/xamarin-forms/working-with/images/#Downloading_Images it is possible to set the source of an image directly via the url of the image. This way supports caching locally and works in basic cases. Is it possible to surface the files in this way using the files client using the storeuri while still keeping the url secure and not accessible by others?

we

[2016-02-04 18:24] renzska commented on #33
More testing, more results. I've found a few exceptions related to "Sharing violation on path" that is causing files to not be uploaded successfully. The file gets created in the storage blob container, but it is zero bytes. This may be the source of my problems. I'm currently re-working away from using binding on the image path to see if I can help mitigate the issue. It seems to occur because I'

[2016-02-04 21:20] renzska commented on #33
In the end, I moved away from using the ProcessFileSynchronizationAction method and rolled my own Download process as I couldn't control when my property was set and my binding would occur in relation to when the files were downloaded. Rolling my own, so far, has seemed to give me what I am looking for in my case and removed the issue with zero byte files (so far, I'll update if this changes).

I

[2016-02-10 15:25] srivas-ksh opened #36 "Customization of the Storage Provider"
I had looked at File Sync briefly before raising this query. Based on the brief look, the File Sync did not fit my requirement as this was tied to Blob Storage.

As per my current requirements, the documents are stored within DB. As for client application, it will run on laptops, hence there are no constraints on Processing power or storage power.
So I have 2 questions based on it, it will be real

[2016-02-15 13:14] FrancoisM commented on #8
Hi,
Same issue here. What makes the date French? My Azure account is all setup with US default. Same with Mac and iPhone. The issue is within MyTable.GetFilesAsync(myItem).

[2016-02-16 12:34] FrancoisM commented on #33
I experience the same issue with 0 byte file. See my post here:
https://github.com/Azure-Samples/app-service-mobile-dotnet-todo-list-files/issues/5

In my case it is not random but systematic. I think in the middle of DownloadAsync there is a swallowed error which leads to the file ending empty.

[2016-02-16 13:09] FrancoisM commented on #8
More generally:

1) as lastModified is null when a file is first added locally, that file is systematically pulled at the next sync whereas it should not (if lastModified were not null...)

2) in the local db, lastModified is localized based on the client time where in the cloud LastModified is localized based on the server time. This will always lead to useless pulls.

[2016-02-16 17:45] fabiocav commented on #8
@FrancoisM thank you for the additional context and the feedback! At the moment, the file metadata is not properly using the date handling used in the core SDK (which is part of the problem). We have a fix for this issue planned for the next iteration and I'll provide an update once that is merged in.
/cc: @lindydonna

[2016-02-16 18:11] renzska opened #37 "The Files Client Beta 2 is still referencing WindowsAzure.Storage version="6.1.1-preview". When my project references 6.2.0 (required by other Azure NuGet packages), it breaks"
I get the following errors when updating to WindowsAzure.Storage 6.2.0:

"2016-02-16 11:07:04.792 AppiOS[64928:936285] Could not find `Microsoft.WindowsAzure.Storage` referenced by assembly `Microsoft.WindowsAzure.Mobile.Files, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35`."

"2016-02-16 11:07:09.055 AppiOS[64928:936285] SyncAsync Exception: System.BadImageFormatException: Cou

[2016-02-16 18:14] fabiocav commented on #37
@renzska at the moment, the storage functionality required by the File Management SDK is not available in the Azure Storage GA packages, so this is a known limitation.

[2016-02-16 18:15] renzska commented on #37
Thanks for the heads up. I've reverted back to 6.1.1-preview in the meantime.

[2016-02-16 18:16] fabiocav commented on #37
We'll have a release targeting their GA packages as soon as the functionality we need is available there.

[2016-02-16 18:16] #37 closed

[2016-02-22 20:20] amalmo commented on #8
any updates on this issue?

[2016-02-24 22:09] fabiocav commented on #36
@srivas-ksh yes, currently the implementation targets Azure Blob Storage, but there is an abstraction that would enable you to plug in your own storage provider, if needed. This is not something we have documented at the moment.

[2016-02-24 22:09] #36 closed

[2016-02-24 22:13] fabiocav commented on #8
@amalmo no update yet, but I'll make sure this issue is updated as soon as this is addressed. I can also make test packages available for validation.

[2016-02-25 12:41] amalmo commented on #8
Sounds good:) So you don't have an estimate to when this might be addressed?

[2016-02-25 18:32] fabiocav commented on #8
@amalmo unfortunately, I don't have a date I can give you. But if that changes, I'll update the issue and assign it to a milestone we can track.

[2016-03-03 12:59] rjempson commented on #33
If you are basing your code on https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-xamarin-forms-blob-storage/

I noticed a bug which might be causing this issue, which I've posted there but to repeat myself :

There is one code path that looks a little strange. You create filePath, pass it through to the IPlatform implementation of DownloadFileAsync, but the parameter is i

[2016-03-03 15:12] FrancoisM commented on #33
Yes I had already seen that and I'm using the filename send as parameter. I deleted the "var path" line.
So I don't think that the issue comes from here.

[2016-03-03 16:34] msabath opened #38 "parentDataItemId not being populated in file sync when using inheritance"
We are using Microsoft.Azure.Mobile.Client.Files version 1.0.0-beta-2.

We are trying to attach images to an entity using the MobileServiceClient file sync functionality. We are having some success, but it appears that we are not able to push a file because the parentDataItemId field in the __filesmetadata table is not being populated. It is populating the parentDataItemType correctly, however.

S

[2016-03-03 18:17] fabiocav commented on #38
@msabath , can you share more details about how your ExpenseItem and its base type are implemented (at least share how the Id is exposed in the base object you're using).

I have a feeling this logic is failing to properly resolve your property: https://github.com/Azure/azure-mobile-apps-net-files-client/blob/master/src/Microsoft.WindowsAzure.Mobile.Files/Sync/MobileServiceSyncTableExtensions.cs#L

[2016-03-03 20:23] msabath commented on #38
Sure.

public class BaseObject : INotifyPropertyChanged
{
        public string Id { get; set; }
	public DateTimeOffset? CreatedAt { get; set; }
	public DateTimeOffset? UpdatedAt { get; set; }
	public bool Deleted { get; set; }

        [Version]
	public string Version { get; set; }

	public event PropertyChangedEventHandler PropertyChanged;
	public void OnPropertyChanged(string name)
	{
		if (Pro

[2016-03-03 21:26] rjempson commented on #33
For what it worth,  I was seeing intermittent "sharing violation" errors,  I was seeing zero byte files, then I changed my code so that it didn't create the file twice ( eg I stopped calling  GetLocalFilePathAsync twice for the same file) and it has worked perfectly since.

My issue happened when pulling files that had already been successfully synced.

[2016-03-04 16:35] FrancoisM commented on #34
Hi,

I'm encontering the same issue but don't see how you use these triggers.
Do I have to implement IFileSyncTriggerFactory and have a method CreateTriggers that returns a list of two triggers, one with autoUpdateRecords = true and one with false? I guess it's something like that but don't see how and where that list of triggers is used.

[2016-03-04 17:04] FrancoisM commented on #34
For those having the issue, it's not to do with autoUpdateRecords.

Here is what I ended up doing.

I created a class MyEntityDataFileSyncTrigger which is a copy of EntityDataFileSyncTrigger except that I only call PullFilesAsync within OnStoreOperationCompleted if TableName belongs to a list of tables for which I associate files.

Then I created MyFileSyncTriggerFactory which is a copy of FileSyn

[2016-03-04 17:12] FrancoisM commented on #33
Did you remove at the pcl level or device project level?
Removing it from ios project didn't work for me hence my workaround. I'll try removing it at the pcl level and see.

[2016-03-04 17:19] FrancoisM commented on #33
It seems to work :-)
Tks @rjempson .

[2016-03-04 18:33] fabiocav commented on #34
@FrancoisM that's the approach described above, so that should give you the behavior you need until something is available out of the box. :+1:

[2016-03-04 19:40] stefffdev opened #39 "Method not found: CloudBlockBlob.UploadFromStreamAsync in Universal App"
I've implemented a Xamarin.Forms App containing a Android and a Windows 10 UWP Project following this samples:
https://azure.microsoft.com/de-de/blog/file-management-with-azure-mobile-apps/
https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-xamarin-forms-blob-storage/

Under Android the file sync is working fine, but in the universal app I get an exception whenever
`await

[2016-03-08 07:18] fabiocav commented on #39
@stefffdev this is a known issue with the preview storage package we depend on. Until PCL is fully supported by the Storage SDK, the workaround is to add a direct reference to the PCL storage assembly from their package.
Let me know if you need more information on how to do that.

[2016-03-08 07:18] #39 closed

[2016-03-08 08:02] stefffdev commented on #39
@fabiocav: I tried to add a reference to Microsoft.WindowsAzure.Storage.dll from the folder "portable-net45+netcore45+wpa81+MonoAndroid1+MonoTouch1" to my UWP project but I receive a error that "this component is already automatically referenced by the build system".

Please could you help me out with that.
thanks in advance

[2016-03-08 09:11] FrancoisM commented on #33
I talked too fast :-(
Zero bytes files are back.
Reverting to my workaround.

[2016-03-08 12:07] FrancoisM opened #40 "PullAsync triggers PullFilesAsync but doesn't wait for it"
Hi,

PullAsync will trigger OnStoreOperationCompleted which calls PullFilesAsync which then calls the implementation of ProcessFileSynchronizationAction for the given IFileSyncHandler.
The problem is that awaiting PullAsync doesn't mean that we await PullFilesAsync . So I end up trying to display files images which were not pulled yet.
Any suggestions on how to wait for the files to be pulled afte

[2016-03-08 12:27] rjempson commented on #33
i haven't seen it again myself.  and i've been testing my app quite a lot.

the other thing to consider is that the sample code isn't threadsafe, so if you are somehow trigger the same request multiple times it may be tripping over itself.  hence it might be prudent to put a lock around the code that creates the folder if doesn't exist.

[2016-03-08 13:01] FrancoisM commented on #33
Thank you, maybe it's to do with me checking files on Finder... I'll look into it closely but right now I'm on https://github.com/Azure/azure-mobile-apps-net-files-client/issues/40. Maybe you face the same problem?

[2016-03-08 13:41] FrancoisM commented on #40
I went that route for the time being:

[code]

[2016-03-08 14:05] rjempson commented on #40
For me, the fact that when I pullasync on a table it goes and automatically calls PullFilesAsync is undesirable. For my application I need to lazy load files.  So I hacked my implementation of IFileSyncTrigger to execute a callback that I supply when creating the instance, and the callback tells it whether it should pull the particular RecordId or not.

Then later, I have this sort of implementati

[2016-03-08 17:36] FrancoisM commented on #33
I found where the "zero byte" as well as "sharing violation path" issues come from.
It's related to https://github.com/Azure/azure-mobile-apps-net-files-client/issues/40

First we pull our table. Then we try to access files. To do so we call a GetPath function (from the sample code https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-xamarin-forms-blob-storage/). That functi

[2016-03-12 07:04] rjempson opened #41 "EntityDataFileSyncTrigger hangs attempting to purge files for all tables"
This is similar to https://github.com/Azure/azure-mobile-apps-net-files-client/issues/34.

The default implementation IFileSyncTrigger : EntityDataFileSyncTrigger performs spurious purge operations against tables that don't have file storage, this is when an IMobileServiceClient is wired up for file sync, with StoreTrackingOptions.NotifyLocalAndServerOperations.

This line of code hangs if there i

[2016-03-13 02:46] rjempson opened #42 "Date localization problem in PullFilesAsync"
"NewtonSoft.Json.JsonReaderException has been thrown
Could not convert string to DateTimeOffset: 13/03/2016 1:30:34 AM +00:00
Path 'lastModified'
"

I'm seeing this problem today (13/03/2016 in my timezone) that I didn't see yesterday (12/03/2016).  It seems likely there is date localization problem somewhere in the pipeline (13 isn't a valid month perhaps?).

The MobileServiceFile in the backend

[2016-03-13 12:15] rjempson commented on #42
I've worked out a hack to circumvent this problem.  Before I call any of the methods from MobileServiceSyncTableExtensions, either directly or indirectly, I do this :

CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-US");

I have a little trouble setting it back to the original culture, as if I do it to soon it seems that corruptions still occur.  So I am solving

What I deduced is :

[2016-03-16 07:56] amalmo commented on #8
How we doing on this? Anyone else encountered this issue and have a workaround ?

[2016-03-16 09:05] PaulARoy commented on #8
Unfortunately my workaround was to use AzureStorage directly (and bypass this framework) both on back-end and front-end. It was quicker than I suspected.

The package seems promising but I could not wait any longer (it was for profile pictures in my case).

[2016-03-16 12:43] amalmo commented on #8
2016-03-16 9:05 GMT+00:00 Paul Roy <notifications@github.com>:

Yeah it is for profile pictures here as well;) Was there any guide that you
used to implement this?

--
Mvh.
Anders R. Malmo

[2016-03-16 13:05] rjempson commented on #8
I didn't notice this thread until now, and I created my own issue : https://github.com/Azure/azure-mobile-apps-net-files-client/issues/42

Maybe I should delete that one.  Anyway, as I explained there, a hack is to set the culture to en-US

CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-US");

The data is corrupted on save, so if you have an existing sqlite file, you should delete i

[2016-03-16 14:01] PaulARoy commented on #8
Your workaround forces the culture to en-US, which works but is not really optimal for an app in french.
But you could set that before the pull and re-set to the previous culture right after, that should do the trick (maybe this is what you do).

This is actually a really nice idea.

Regarding profile pictures it is a bit off-topic but the best resource I found was, as usual, the official document

[2016-03-17 00:35] rossjempson commented on #8
I tried re-setting the culture to the user's original culture right after the pull, but it seemed like that was too soon sometimes.  I didn't look into it but I guess it might be because writing the update date to the sqlite table happens asynchronously.  Maybe necessary to make the whole thing serial.  I haven't looked but apparently this is an example of how to do that : https://github.com/lindy

[2016-03-18 13:15] bledbet opened #43 "Files associated with soft-deleted rows are not removed"
I have a working Xamarin.Forms app syncing several simple entites, one of which will have files associated with it.  The file syncing functionality we have implemented is modeled after the to-do item sample, and we have confirmed that the files are pushed up to the storage account when new records are created at the device, and we have also confirmed that files are downloaded to the device (say, a

[2016-03-23 11:58] #42 closed

[2016-03-23 11:58] rjempson commented on #42
duplicate of https://github.com/Azure/azure-mobile-apps-net-files-client/issues/8

[2016-03-24 02:08] OmegaSyrus opened #44 "Error when getting StorageToken"
Here's the stacktrace
"   at Microsoft.WindowsAzure.Storage.Core.Executor.Executor.ExecuteSync[T](RESTCommand`1 cmd, IRetryPolicy policy, OperationContext operationContext) in c:\\Program Files (x86)\\Jenkins\\workspace\\release_dotnet_master\\Lib\\ClassLibraryCommon\\Core\\Executor\\Executor.cs:line 604\r\n   at Microsoft.WindowsAzure.Storage.Blob.CloudBlobContainer.CreateIfNotExists(BlobContaine

[2016-04-01 17:19] FrancoisM opened #45 "FileNotFoundException in Microsoft.WindowsAzure.Mobile.Files.Shared/File.cs for UWP"
Hi,

CreateAsync gives me a FileNotFoundException on Windows.

I think it should be

[code]

It would break DownloadFileAsync but it could be rewritten:

[code]

François

[2016-04-01 18:01] FrancoisM opened #46 "System.MissingMethodException CloudBlob.DownloadToStreamAsync in AzureBlobStorageProvider.cs"
Hi,

I got the following error:

[code]

[2016-04-04 10:32] FrancoisM commented on #46
Within the Azure Storage lib, the signature of DownloadToStreamAsync is

`public Windows.Foundation.IAsyncAction DownloadToStreamAsync(Windows.Storage.Streams.IOutputStream target)`

However in MobileServiceFilesClient DownloadToStreamAsync calls DownloadToStreamAsync with System.IO.Stream.

[2016-04-04 10:49] FrancoisM commented on #46
In
https://github.com/Azure/azure-storage-net/blob/master/Lib/WindowsRuntime/Blob/CloudBlob.cs
There is:

[code]

So I guess the UWP package was built without PORTABLE. But then azure-mobile-apps-net-files-client and azure-storage-net are not comptaible for UWP apps...

[2016-04-04 11:51] FrancoisM commented on #46
Here is what I ended up writing:

[code]

[2016-04-04 16:45] fabiocav commented on #46
@FrancoisM this is a known issue with Windows apps at this point because of a limitation with the Storage SDK. At the moment, the only workaround is to copy and reference the Portable storage library from your Windows project.

[2016-04-06 12:00] FrancoisM commented on #46
Tks @fabiocav but I prefer my workaround at the moment as I understand it better.
Indeed, if I can just use the PCL of Storage then why is there a need for a windows version in the first place?

[2016-04-06 12:45] FrancoisM commented on #46
Now I have the issue with upload and I can't rewrite it as, while download is called from IFileSyncHandler, upload is not.

So I'm trying you're workaround @fabiocav.

But first what I don't get is why I don't see Windows Azure storage as reference of my PCL while VS says the nugget package is installed...

So I reference it manually (from my understanding of your workaround) but the error remains

[2016-04-06 14:28] FrancoisM commented on #46
Here is where I am.
I have Xamarin solution with a PCL and a UWP app (as well as an iOS and Android).
My issue is with the UWP app.

In my PCL I'm calling `Microsoft.WindowsAzure.MobileServices.Files.MobileServiceSyncTableExtensions.AddFileAsync`
This call will call
`Microsoft.WindowsAzure.Storage.Blob.CloudBlockBlob.UploadFromStreamAsync `
But I have a Method Not Found error on `Microsoft.Windows

[2016-04-07 11:55] FrancoisM commented on #46
Here is what I've done.

I removed Mobile.Files and Azure.Storage packages from the UWP project and I referenced the Mobile.Files, Mobile.Files.Ext and Azure.Storage in the PCL.
Now the UWP app works.

[2016-04-07 11:55] #46 closed

[2016-04-15 00:43] lindydonna commented on #33
I think what's happening is that multiple threads are trying to access the same file and that's causing exceptions. We should add a feature to the library to limit the number of parallel downloads, but until then, here's a simple workaround: https://github.com/lindydonna/ContosoMoments/blob/dev/src/Mobile/ContosoMoments/App.cs#L196

Basically, create just one download task and append new tasks to

[2016-04-15 00:45] lindydonna commented on #40
@rjempson Yes, I was going to file a bug for the PullFilesAsync that happens on every table. When it comes to whether or not to download the file, you could also use the FileSyncHandler to decide whether to download the file, that's the usual way to customize.

[2016-04-15 00:47] lindydonna commented on #40
@FrancoisM see my comments on issue #33 on how to avoid threading issues. Btw, doing the subscription on each pull is inefficient, you can subscribe just once. See this example (https://github.com/lindydonna/ContosoMoments/blob/dev/src/Mobile/ContosoMoments/ViewModels/ImagesListViewModel.cs#L84) where I did the subscription in a view model.

[2016-04-15 00:48] lindydonna commented on #43
So you never get a Delete action on the ProcessFileSynchronizationAction callback?  Could you provide a simpler repro?  Do you see the same behavior with this sample, for instance?  https://github.com/Azure-Samples/app-service-mobile-dotnet-todo-list-files

[2016-04-15 00:49] lindydonna commented on #44
Where is the actual exception?  I see the stacktrace, but not the exception type and message.

[2016-04-15 00:52] lindydonna commented on #35
No, it is not possible unless the blob images are public. The file sync support already caches images, and works with public and private blobs.

Is there some other functionality that's missing?  If not, I'm going to close this issue.

[2016-04-15 13:16] bledbet commented on #43
That is correct - no Delete on ProcessFileSynchronizationAction.

I do not currently have a repro that is separate from our app, but most of the code above is either directly from the to do list sample (like the FileSyncHandler), or it is an exact clone of classes from this github repo with one-or-two line changes (trigger and trigger factory).  The only other complexity you see here is wrapping t

[2016-04-15 17:47] lindydonna commented on #43
@bledbet I'll try to repro myself with the sample. It's possible there is a race condition somewhere that's causing that callback not to trigger.

[2016-04-15 17:50] lindydonna commented on #45
This seems to work fine on Win 8.1, are you saying that this is a difference in behavior in UWP?  Does this only cause an exception if the file already exists?

[2016-04-15 17:52] lindydonna commented on #44
Also, does the request actually go to the backend?  Maybe there the problem is there, and not the client?

[2016-04-15 17:58] lindydonna commented on #18
Sample is here: https://github.com/Azure-Samples/app-service-mobile-dotnet-todo-list-files

[2016-04-15 17:58] #18 closed

[2016-04-15 18:02] #35 closed

[2016-04-15 20:20] lindydonna opened #47 "Update Storage library dependency to 7.0.1-preview"
It fixes the issue with the Windows target of the storage package.

[2016-04-15 21:32] renzska commented on #35
Good to know. I'm good with this being closed. Thanks!

[2016-04-20 23:43] renzska opened #48 "Add ability to set container and/or blob permissions to public read access"
I'm hosting avatars and need the ability to reference the image directly. I know the id of the user and would rather have public access to be able to point directly to the file from my storage account blob containers.

- No public access
- Public read access for container and blobs
- Public read access for blobs only

May this ability be added to be able to set the permissions of the container or

[2016-04-21 02:19] raechten commented on #8
I am currently also experiencing this issue. Is there any news on this?

[2016-04-21 02:51] lindydonna commented on #48
You can provide your own server-side Azure Storage provider to customize the container creation. See https://github.com/Azure/azure-mobile-apps-net-files-server/blob/master/src/Microsoft.Azure.Mobile.Server.Files/StorageProviders/AzureStorageProvider.cs.

[2016-04-21 07:45] FrancoisM commented on #45
localSocialFolder should read folder; it's an error in editing the code in my post.
I didn't try Win 8.1. The exception is not when the file already exists but when it doesn't.
I avoided that issue using PCLStorage and making sure I create the file before downloading it.

[2016-04-25 14:58] raechten commented on #31
Any update on this one?

[2016-04-28 23:55] lindydonna commented on #31
Unfortunately not. However, we are doing a triage pass next week, and we'll have an update on priority.

[2016-05-02 13:47] rjempson opened #49 "Dispose not being called on IFileSyncTrigger implementation"
I've implemented my own version of IFileSyncTrigger (for reasons discussed on other threads here).  I have also implemented a IFileSyncTriggerFactory that creates the triggers.

I have repository class which has an instance of a MobileServiceClient, and my repository implements IDisposable, which dutifully calls Dispose() on its instance of MobileServiceClient.  However I don't see Dispose() being

[2016-05-02 15:18] bledbet commented on #48
I just did this very thing:

public class PublicAccessAzureStorageProvider : AzureStorageProvider
    {
        public PublicAccessAzureStorageProvider(string connectionString) : base(connectionString)
        {
        }

        public async override Task<StorageToken> GetAccessTokenAsync(
            StorageTokenRequest request,
            StorageTokenScope scope,
            IContainerNameRes

[2016-05-02 22:54] lindydonna commented on #48
Since this is pretty easy to customize, I think we just need to document it. Closing this issue.

[2016-05-02 22:54] #48 closed

[2016-05-02 22:55] lindydonna commented on #45
I can repro this. The implementation of DownloadFileAsync on Windows needs to make a Create call first.

[2016-05-03 13:18] amalmo commented on #8
@fabiocav Still no ETA on this?

[2016-05-03 16:19] fabiocav commented on #8
@amalmo sorry about the delay. We're triaging issues and working on milestone assignments today.

[2016-05-04 18:06] lindydonna commented on #40
We don't want to block the Pull call, so we will do #33 instead.

[2016-05-04 18:06] #40 closed

[2016-05-04 18:07] lindydonna commented on #44
Closing since we didn't get a response.

[2016-05-04 18:07] #44 closed

[2016-05-04 18:08] lindydonna commented on #31
Duplicate of https://github.com/Azure/azure-mobile-apps-net-files-client/issues/38

[2016-05-04 18:08] #31 closed

[2016-05-04 18:15] lindydonna opened #50 "Implement mechanism for serializing file download operations"
This can be done manually right now, with a Task and ContinueWith, but we should add to the SDK. Here's an example of the workaround: https://github.com/azure-appservice-samples/ContosoMoments/blob/dev/src/Mobile/ContosoMoments/App.cs#L196

[2016-05-04 18:18] lindydonna opened #51 "Add UWP section to existing Blob Storage tutorial"

[2016-05-04 18:20] lindydonna opened #52 "Add file sync documentation to client & server how-tos"

[2016-05-25 11:53] FrancoisM commented on #8
Hi,

Is there a calendar or a rule somewhere of releases expected dates?

[2016-05-25 13:22] fabiocav commented on #8
@FrancoisM we don't have dates, but milestones have been defined and we've been working with partner teams (i.e. Storage) to align release on some work we depend on. Once we start addressing these items, I'll try to make nightly build packages available so you can start consuming the fixes and enhancements before the official release, if you wish. Thank you for your patience!

[2016-05-26 21:16] lindydonna opened #54 "Azure Storage NuGet GA"
Waiting for the Azure Storage team.

[2016-05-26 21:22] lindydonna opened #55 "Release pending preview of second client platform"
Need to release a preview of at least one other client platform in order to release the GA of .NET client.

[2016-05-26 21:28] lindydonna commented on #43
Will size the work after determining root cause.

[2016-05-26 21:29] lindydonna opened #56 "Windows implementation of File.Read opens for write instead"
See https://github.com/Azure/azure-mobile-apps-net-files-client/blob/master/src/Microsoft.WindowsAzure.Mobile.Files.Shared/File.cs#L30

[2016-05-26 21:29] danderson00 opened #57 "Client API enhancements - "managed" preconfigured local file storage"
We should provide an opinionated (but configurable) local file storage mechanism that allows consumers to start using file management with offline / sync without any configuration or code on the client.

The implementation stores files locally in an appropriate location for each platform. An IFileSyncHandler implementation keeps the file system in sync as changes are pulled from the server. Additi

[2016-05-26 21:30] lindydonna commented on #47
Closing issue, since this version has a bug with Xamarin.

[2016-05-26 21:30] #47 closed

[2016-05-26 21:32] danderson00 opened #58 "End to end testing"
Provide end to end tests that validate the full behavior of file management, i.e. XUnit tests that involve programatically driving the file management client, connecting to a deployed file management server (both .NET and node).

An initial implementation exists in the three relevant repositories (test implementation in this project, .NET test server in azure-mobile-apps-net-files-server and node

[2016-05-26 21:38] lindydonna opened #59 "Set up automated public-facing CI"

[2016-05-26 21:49] lindydonna opened #60 "Create a Xamarin workbook for file documentation"

[2016-05-31 11:43] lucafabbri commented on #8
Hi, thanks to Francois I've applied the turnaround. Unfortunately it works only when you download images that hadn't been uploaded by the client itself. When you add File then Sync then Pull you still have the same issue regardless you change culture while adding, pulling or syncing.

Does anybody can share a link to implementa Azure.Storage directly? Hope this issue will get solved soon.

[2016-06-01 12:03] warpkid opened #62 "Cannot install into Class Library Project"
Following the tutorial at https://azure.microsoft.com/en-gb/documentation/articles/app-service-mobile-xamarin-forms-blob-storage/ I recieve an error message when attempting to install microsoft.azure.mobile.server.file:

Error		Could not install package 'Microsoft.Azure.Mobile.Server 1.1.157.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=P

[2016-06-01 13:21] #62 closed

[2016-06-01 13:22] warpkid commented on #62
I'm a moron. I was trying to install the server package rather than the client which was then trying to install microsoft.azure.mobile.server

[2016-06-02 19:54] danderson00 opened #63 "Merge MobileServiceFile and MobileServiceFileMetadata"

[2016-06-02 20:04] danderson00 opened #64 "Remove redundant UploadFileAsync methods from MobileServiceTableExtensions"

[2016-06-03 12:09] arne3000 opened #65 "azure-mobile-apps-net-files-client/src/Microsoft.WindowsAzure.Mobile.Files/Sync/MobileServiceSyncTableExtensions.cs line 37"
This reflection doesn't get any inherited id's, suggest possibly:

`var idProperty = objectType.GetProperties(BindingFlags.Public | BindingFlags.Instance).FirstOrDefault(x => x.Name == "Id");`

[2016-06-03 17:26] fabiocav commented on #65
Thank you for reporting this!
We're tracking this issue here #38 and it will be resolved in our next release. I'll be closing this as a duplicate but you can use that issue to track the progress on this.

[2016-06-03 17:26] #65 closed

[2016-06-03 17:54] danderson00 commented on #64
Kept for consistency with MobileServiceSyncTableExtensions

[2016-06-03 17:54] #64 closed

[2016-06-03 17:54] danderson00 opened #66 "Rename "Managed" layer"
The name is too easily confused with the managed client

[2016-06-03 17:55] danderson00 opened #67 "Run E2E tests as part of CI"

[2016-06-03 17:56] danderson00 opened #68 "Add samples to node SDK repo"

[2016-06-07 00:59] lindydonna opened #69 "Update NuGet package description"
It currently says "Windows Azure Mobile Apps Files."  It should say "Azure Mobile Files Client SDK"

[2016-06-07 16:53] isamllr commented on #8
Same issue here, looking forward to a nightly build package. Thanks for the great work so far!

[2016-06-13 22:23] lindydonna opened #70 "StoreUri property not being set when read from metadata"
When reading file data from metadata, such as syncTable.GetFilesAsync, the StoreUri parameter is always null. I checked my SQLite database, and it is populated correctly, so something is happening during deserialization.

[2016-06-14 22:21] paulbatum opened #71 "DownloadFileAsync (and similar) should be part of the PCL surface area"
See
https://github.com/nishanil/AzureFileSync/blob/master/GoMonkeys/GoMonkeys/GoMonkeys.iOS/Platform/iOSFileSyncHelper.cs
https://github.com/nishanil/AzureFileSync/blob/master/GoMonkeys/GoMonkeys/GoMonkeys.Droid/Platform/AndroidFileSyncHelper.cs

This shouldn't be necessary. There is no platform specific implementation in either of these classes, but the problem is that these extension methods are

[2016-06-17 00:36] danderson00 opened #72 "Make StoreTrackingOptions.NotifyLocalAndServerOperations the default tracking option"
The current default raises duplicate events, as discussed. This is a much more intuitive default.

[2016-06-17 00:38] danderson00 commented on #72
Ahh.. This is part of Mobile Apps. @fabiocav can we achieve a similar result without impacting the Mobile Apps code?

[2016-06-17 01:41] fabiocav commented on #72
Yes, the notifications are raised by the core Mobile Apps SDK, but the default is actually to not raise any notifications at all, so with the default behavior, you wouldn't get any duplicates, as no notifications are sent.

[2016-06-17 01:53] fabiocav commented on #72
At the time, when the "eventing" support was added, the decision was made to default to no notifications from the store, making it an opt-in feature in order to eliminate the impact of having additional processing (particularly for change detection) on existing codebases. We could probably perform validation when initializing the files support to make the right setting required (which is even more

[2016-06-17 02:43] danderson00 commented on #72
We need to do something here anyway. The issue goes beyond events firing twice - if no StoreTrackingOptions value is specified on initialization, the IFileSyncHandler.ProcessFileSynchronizationAction method is executed twice for the same file when pulling newly created files. Plus, they are executed in parallel (as they're called from events), so it's not just the managed implementation, customers

[2016-06-17 02:55] danderson00 commented on #72
Actually, hold on... I'm not sure now... Will ProcessFileSynchronizationAction be executed at all if no StoreTrackingOptions are provided?

[2016-06-17 03:15] fabiocav commented on #72
Not automatically (as a result of data pull/push). If no store tracking options are set, it would only get executed when/if you explicitly sync files (through the pull/push mechanism exposed by files)

[2016-06-17 18:46] danderson00 commented on #72
After discussion, we agree that this is a real edge case. Without providing a StoreTrackingOptions value, users must call PullFileChangesAsync manually. The only other option that makes sense for files is AllNotificationsAndChangeDetection - others can cause duplicate execution of the ProcessFileSynchronizationAction handler.

[2016-06-17 18:46] #72 closed

[2016-06-25 00:17] danderson00 opened #74 "Change Microsoft.WindowsAzure.Mobile.Files.Express to Microsoft.WindowsAzure.MobileServices.Files.Express"
https://github.com/Azure/azure-mobile-apps-net-files-client/blob/master/src/Microsoft.WindowsAzure.Mobile.Files.Shared/Express/MobileServiceClientExtensions.cs

[2016-06-29 14:02] JeremyBP commented on #8
@FrancoisM thanks for your workaround.
Here's my implementation to call everytime you call a method regarding files.
The method:

        /// <summary>
        /// Hack for culture handling with file sync, see https://github.com/Azure/azure-mobile-apps-net-files-client/issues/8
        /// </summary>
        /// <param name="action">Action to call with specific culture</param>
        /// <param n

[2016-07-15 14:59] jasonchester commented on #37
Is there any update on this? The `Microsoft.WindowsAzure.Storage` package is a currently at 7.1.2. this is a number of releases and a full major version ahead of 6.1.1-preview and the dependency is still there.

https://www.nuget.org/packages/WindowsAzure.Storage/7.1.2

[2016-07-19 21:20] #66 closed

[2016-07-19 21:20] #58 closed

[2016-07-21 23:01] pragnagopa opened #75 "Update Readme with instructions on how to run the tests"

[2016-07-22 16:15] pragnagopa opened #76 "Add Unit Test and E2E tests for WinApps"
Servaral places in the code use condtional directive #if WIN_APPS. Need to add unit test for project type: Windows Store Apps or UWP to test this code path

[2016-07-24 13:02] lucafabbri commented on #8
Hi all,

Culture solution is not working. I guess if the problem is Json.NET itself when it convert DateTimeOffset. Isn't better to change the field to DateTime instead?

[2016-07-24 13:07] rjempson commented on #8
Culture solution definitely works for me.  Did you heed this advice ?

"The data is corrupted on save, so if you have an existing sqlite file, you should delete it before changing your code and retesting.

You may need to make sure you set the culture in all async methods that will trigger a PullFiles, depending on your threading situation. (Remember that PullAsync on the parent table can trigger

[2016-08-09 21:43] pragnagopa commented on #56
PR: https://github.com/Azure/azure-mobile-apps-net-files-client/pull/61 fixed this issue.

[2016-08-09 21:43] #56 closed

[2016-08-10 21:02] #45 closed

[2016-08-11 16:08] pragnagopa opened #79 "Update logic in GetDataItemId to use Serializer in MobileServiceClient"
Update GetDataItemId in:
https://github.com/Azure/azure-mobile-apps-net-files-client/blob/master/src/Microsoft.WindowsAzure.Mobile.Files/MobileServiceTableExtensions.cs#L219

to use GetId from MobileServiceSerializer.cs
https://github.com/Azure/azure-mobile-apps-net-client/blob/fd559611a7af8bfb5aa9d51ba30ad3b48b80a832/src/Microsoft.WindowsAzure.MobileServices/Table/Serialization/MobileServiceSeria

[2016-08-11 16:19] #38 closed

[2016-08-18 21:51] pragnagopa commented on #8
Fix checked in.
Uploaded the package with this fix to myget: Microsoft.Azure.Mobile.Client.Files version: 1.0.0-beta-2-160818
You can use following nuget feeds to the packages from myget:
o	Nuget v3: https://www.myget.org/F/azure-mobile/api/v3/index.json
o	Nuget v2: https://www.myget.org/F/azure-mobile/api/v2

[2016-08-18 21:51] #8 closed

[2016-08-29 15:09] isamllr commented on #46
@FrancoisM
I am struggling with the same setup (runtime errors), could you please post your packages.config of the PCL and the project.json of the UWP?

- Did you add sqlite3.dll to any of your projects?
- What targets does your PCL have? Is it a Xamarin.Forms-PCL?

I had to manually add the Microsoft.Azure.Mobile.Files-dll to the UWP, otherwise I can't build.

[2016-08-29 15:17] isamllr commented on #46
Current setup:

PCL:
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Azure.Mobile.Client" version="2.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Azure.Mobile.Client.Files" version="1.0.0-beta-2-160819"

[2016-08-31 13:55] FrancoisM commented on #46
Hi @isamllr ,

I got a XF pcl targetting
.NET 4.5
ASP.NET Core 1.0
Windows 8
WP Silverlight 8
Xamarin.Android
Xamarin.iOS
Xamarin.iOS (Classic)

projetc.json is

`{
  "dependencies": {
    "AutoMapper": "4.1.1",
    "Microsoft.ApplicationInsights": "1.0.0",
    "Microsoft.ApplicationInsights.PersistenceChannel": "1.0.0",
    "Microsoft.ApplicationInsights.WindowsApps": "1.0.0",
    "Microsoft.AspN

[2016-08-31 14:02] fabiocav commented on #46
I have just tested a UWP app and updating to the pre-release package from MyGet and the latest Azure Storage package foxes this. Can you give that a try?

[2016-08-31 15:04] isamllr commented on #46
Thx both, it's almost working by now, still had to downgrade WindowsAzure.Storage to 6.1.1-preview - please see here:
https://github.com/Azure/azure-mobile-apps-net-files-server/issues/18

[2016-08-31 22:05] pragnagopa commented on #46
Note that only preview packages of Azure Storage packages have support for PCL. Please install latest preview version.  "WindowsAzure.Storage": "7.1.3-preview" . You do not have to add references manually. If you still see the issue let us know.

[2016-09-01 12:54] isamllr commented on #46
That's very useful information.
Will this work with the latest alpha as it specifically asks for the 6.1.1-preview of WindowsAzure.Storage?

Unfortunately, I can't build the application without manually adding the net45/Microsoft.WindowsAzure.Mobile.Files.Ext to my PCL (DownloadFilesAsync missing).

[2016-09-01 16:16] pragnagopa commented on #46
I have updated packages on myget to include reference to latest storage preview package: Microsoft.Azure.Mobile.Server.Files.1.0.0-beta-2-160901 and Microsoft.Azure.Mobile.Client.Files.1.0.0-beta-2-160901. This issue should be fixed now.

[2016-09-06 07:35] FrancoisM commented on #32
On a related note, why does a file has an id, a fileId and filename? Moreover if not explicitly specified, they all end up being set to the fileName (which should ne be unique as mentioned in this post).

[2016-09-06 10:29] FrancoisM opened #84 "Why is the fileName used as Id and fileId?"
The __filesMetadata table has columns id, fileId and fileName. Whatever the value specified at time of creation of the file, the only values the server seems to know are parentId and fileName. And when a file is pulled the three columns id, fileId and fileName are populated with the fileName.... Hence it forces the fileName to be unique.
It would make more sense (at least to me), that the fileName

[2016-09-06 16:55] fabiocav commented on #84
@FrancoisM there are ongoing improvements to take advantage of this design and support some additional scenarios. Some of the work is related to scenarios described in the other issue you've commented on (#32), but the overall improvements go further. We're currently tracking those enhancements as part of the open issues, so I'll close this one, but please let me know if there's something you feel

[2016-09-06 16:55] #84 closed

[2016-09-08 13:54] isamllr commented on #46
Thanks, using WindowsAzure.Storage 6.1.1-preview on the client ans server for now, it's working fine.

[2016-09-26 16:38] renzska opened #85 "ETA on non-beta release?"
Our team has been waiting for an official non-beta release of this for quite some time. Is there an ETA on a final 1.0.0 release date?

Thanks,

John

[2016-09-27 14:17] adrianhall commented on #85
Hi @renzska - no word yet on the beta availability.  We have two more betas planned (check the milestones), but no dates to share.  Once we have dates, we will update the milestones.

[2016-09-27 14:17] #85 closed

[2016-09-29 04:31] supreettare commented on #34
@FrancoisM @fabiocav  thanks a ton :) it worked like a charm

[2016-09-29 18:22] acastr7 commented on #70
Getting the same issue in my project.

[2016-09-29 19:09] acastr7 commented on #70
Looks like MobileServiceFile.cs contains FromMetadata which is not properly converting from MobileServiceFileMetadata.cs

https://github.com/Azure/azure-mobile-apps-net-files-client/blob/dd74dd6c72b228f39205713dc25433e47ccfed3f/src/Microsoft.WindowsAzure.Mobile.Files/MobileServiceFile.cs#L79-L87

I can submit a pull request for this later today.

[2016-10-20 20:20] rafaelmaroxa opened #87 "When will the files client be available for native iOS (swift/objc)?"

[2016-11-09 22:14] adrianhall commented on #79
@pragnagopa @fabiocav Is this the same routine that is referenced here: https://github.com/Azure/azure-mobile-apps-net-files-client/blob/b4bd395a9301bc810d03db6e1065c150b1b001c6/src/Microsoft.WindowsAzure.Mobile.Files/Utilities.cs

[2016-11-09 22:15] pragnagopa commented on #79
Yes. Correct. Code was refactored into Utilities.cs

[2016-11-25 00:16] rossjempson opened #88 "Has Microsoft's strategy changed on this SDK?"
I personally would appreciate a formal announcement that this project has been retired so that I can put it behind me and take another approach.

Its a bit disingenuous that it is touted all over azure blogs that this is actually a thing, where as in fact it is a beta that has died.

eg, this blog among many others :

https://azure.microsoft.com/en-us/blog/file-management-with-azure-mobile-apps/

[2016-11-26 13:06] StanleyBroo commented on #88
James Montemagno used this sdk on connect 2016. We love it, this is a must today. Is this beta coming to release so we know it's supported ahead and can integrate it in production LOB Xamarin Forms Apps. Please!!! 😉

[2017-01-04 05:40] DanAnzelmi opened #89 "System.NotImplementedException when uploading an image to Azure Storage"
I am running the sample on https://github.com/Azure-Samples/app-service-mobile-dotnet-todo-list-files
and I get this exception stack when trying to upload the image on Azure Storage, specifically when calling the function PushFileChangesAsync() from IMobileServiceSyncTable<T>.

here is the stack

System.NotImplementedException: The method or operation is not implemented.
at System.Security.Cryptog

[2017-01-17 22:00] kinex opened #90 "Files are downloaded unnecessarily due to failing timestamp comparison"
MobileServiceFileSyncContext.PullFilesAsync downloads a file if its timestamp (saved as DateTimeOffset in a local table) is different from the file's timestamp received from the server. That comparison will always fails (timestamps are never equal because saved local timestamp is invalid).

I think original issue is that DateTimeOffsets are not saved properly in SQLite database (time zone related

[2017-02-17 20:17] raechten commented on #89
I had the same issue. Turns out this was caused by a bug in WindowsAzure.Storage 8.0.0. See this link for details: https://github.com/Azure/azure-storage-net/issues/387. Upgrading to 8.1.0 worked for me. Make sure you upgrade all projects that have this reference.

[2017-03-09 19:24] renzska commented on #85
It has been six months and I haven't see any news on a final release. Can we get an update? We really need this as a final release to be able to use it in our product.

Thanks.

[2017-03-09 19:25] adrianhall commented on #85
We don't have anyone working on this right now, so it isn't going to emerge from beta.

[2017-03-09 19:51] renzska commented on #85
How do you recommend mobile developers that need to store files in azure blob storage move forward with our projects? It's a shame that it seems to have been so close to final. In my case, all I need it for is to store profile images.

[2017-03-09 20:03] adrianhall commented on #85
Just use the Azure Storage SDK to store images.  For your case, there is really no need to have the complexity of the file sync stuff.  Azure Storage SDK is fully GA.   It's available now.  In your case, I'd have a custom API that produces the appropriate SAS token for your storage backend, and integrate the storage SDK directly into your mobile app.

[2017-03-14 09:32] supreettare opened #91 "metadata.ParentDataItemId is always null"
I was successfully able to create a multi entity sample app using file sync & it works fine. If I use the exact same code in our production app, I always get metadata.ParentDataItemId= null when I click on Sync & GetDataSource method on FileSyncHandler is called.

One difference between the sample project & prod one is, in sample. all my DTOs are created both on service project (Azure Dot Net Back

[2017-03-14 09:39] supreettare commented on #91
Seems like the issue is related to this:
https://github.com/Azure/azure-mobile-apps-net-files-client/issues/38

I too am inheriting from a base class & the Id property is in base class.
My current architecture is too complex & heavy for me to remove this inheritance, is there a way to work around this?

Thanks
ST

[2017-03-16 03:50] IgorPietraszko commented on #90
Thanks for the insight @kinex.  I agree with the premise of this issue.  I am (yet) not as concerned about unnecessary hits to Azure as I am on knowing exactly if any rows in my local sync tables have changed or if any new rows have been added.  On startup of my app, I want to Sync to Azure but only update the UI if there are any changes not reflected in my local sync tables.  On add, I can update

[2017-03-29 12:38] hewey23 commented on #43
Hi Folks;

I am running into the same issue. Wondering if anyone found a resolution?

Thanks

Derek Hewey

[2017-04-10 15:33] makerofthings7 opened #92 "Use NSURLSession on iOS to enable background downloads"
I would prefer that the iOS implementation used NSUrlSession to allow my app to be in the background while this is running.

http://stackoverflow.com/q/41433440/328397

Where should I patch this library to enable this?